/* GLOBAL STYLES */
:root {
    --background-color: #ecf0f1;
    --dark-grey-color: #23232b;
    --dark-grey-medium-color: #1a1a28;
    --text-color: #cccbcb;
    --text-color-hover: #adadad;
    --link-hover-color: #f34949;
    --burger-menu-hover-color: #ffffff;
    --mobile-menu-links-border-color: rgba(111, 111, 112, 0.2);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--background-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    max-width: 1600px;
}

/* NAVIGATION */

header {
    background-color: var(--dark-grey-color);
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-width: 1200px;
}

/* a helper class that hides element from users but allows the screen readers to see it */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 700;
}

/* makes hamburger menu invisible*/
.mobile-toggle {
    display: none;
}

.menu > li,
.menu > a {
    display: inline-block;
}

/* all li elements are a reference for positioning */
.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 10px 1rem;
    transition: all 0.4s;
}

.menu a:hover {
    color: var(--text-color);
    background-color: var(--link-hover-color);
}

/* SUBMENUS STYLE */

.submenu__skills {
    position: absolute;
    width: 200%;
    background-color: var(--dark-grey-color);
    left: 0;
    display: none;
}

.submenu__projects {
    position: absolute;
    width: 150%;
    background-color: var(--dark-grey-color);
    left: 0;
    display: none;
}

/* SUBMENU SKILLS STYLE */

.submenu__skills-front,
.submenu__skills-back {
    background-color: var(--dark-grey-color);
    width: 110%;
    position: absolute;
    right: 100%;
    top: 0;
    display: none;
}

/* SHOW MENUS */
.menu li:hover > .submenu__skills {
    display: block;
    animation: dropdownAnimate 0.5s ease-out;
}

.menu li:hover > .submenu__projects {
    display: block;
    animation: dropdownAnimate 0.5s ease-out;
}

.menu li:hover > .submenu__skills-front {
    display: block;
    animation: dropdownAnimate 0.5s ease-out;
}

.menu li:hover > .submenu__skills-back {
    display: block;
    animation: dropdownAnimate 0.5s ease-out;
}

/* this section is there to test the switching off the mobile menu when clicking outside the menu */
.section {
    height: 1000px;
    background-color: var(--burger-menu-hover-color);
}

/* DROPDOWN MENU ANIMATION */

@keyframes dropdownAnimate {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* //////////////////////////////////////////////////////////// */
/* MEDIA QUERY MOBILE MENU */

@media (max-width: 770px) {
    header {
        width: 100%;
        position: relative;
        height: 100px;
        padding: 0 2rem;
    }

    nav {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .menu a:hover {
        color: var(--text-color-hover);
        background-color: var(--dark-grey-color);
    }

    .logo {
        font-size: 1.3rem;
    }

    nav .menu {
        width: 100%;
        position: absolute;
        background-color: var(--dark-grey-medium-color);
        right: 0;
        top: 100%;
        left: 0%;
        height: 1000%;
        transform: translateX(100%);
        transition: all 0.4s ease-out;
    }

    .menu ul,
    li,
    a {
        width: 100%;
        text-align: right;
        display: flex;
        flex-direction: column;
    }

    .menu a {
        border-bottom: 1px solid var(--mobile-menu-links-border-color);
        background-color: var(--dark-grey-medium-color);
        padding-right: 1.7rem;
    }

    /* .menu  */

    /* if the data-visible attribute is true the menu will become visible by moving into the view */
    .menu[data-visible="true"] {
        transform: translateX(0);
    }

    /* hamburger menu button */
    .mobile-toggle {
        cursor: pointer;
        display: block;
        position: absolute;
        z-index: 100;
        width: 0;
        top: 1.4rem;
        right: 4rem;
        border: none;
        background-color: transparent;
    }

    /* styling and positioning of the svg element */
    .hamburger-button {
        fill: var(--text-color);
        width: 22px;
        position: absolute;
        left: 0.8rem;
        top: 1rem;
        transition: all 0.3s ease-out;
    }

    .hamburger-button:hover {
        /* transform: scale(1.2); */
        fill: var(--burger-menu-hover-color);
    }

    /* no submenu in mobile menu */
    .has-submenu {
        display: none !important;
    }

    .submenu__skills,
    .submenu__projects {
        display: block;
        position: relative;
        left: 0;
    }

    .submenu__skills-front,
    .submenu__skills-back {
        display: block;
        position: relative;
        left: 0;
    }

    .menu li:hover > .submenu__skills {
        display: block;
        animation: none;
    }

    .menu li:hover > .submenu__projects {
        display: block;
        animation: none;
    }

    .menu li:hover > .submenu__skills-front {
        display: block;
        animation: none;
    }

    .menu li:hover > .submenu__skills-back {
        display: block;
        animation: none;
    }
}
